// colors
$primary: #f03000;
$secondary: #ffffff;
$ternary-light: #f0f0f0;
$ternary-dark: #888888;
$font-color: #000000;
$font-base: 'Open Sans', Arial, 'sans-serif';
$font-head: 'Montserrat', Arial, 'sans-serif';
$section--bottom: 40px;

html {
  box-sizing: border-box;
}

* ::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: $font-base;
  color: $font-color;
  padding: 36px 40px 20px;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
}
// navigation
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30;
}

.navigation__logo {
  width: 230px;
}

.navigation__items {
  display: flex;
  margin: 30px 0 30px 0;
}

.navigation__item {
  color: $primary;
  font-family: $font-head;
  padding: 20px;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  &:hover {
    color: $secondary;
    background-color: $primary;
  }
}

// cards
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards--margin {
  margin-bottom: $section--bottom;
}

.card {
  background-image: url('../img/jezero2@2x.png');
  background-size: cover;
  min-height: 150px;
  color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  font: $font-head;
}
.card--big {
  background-image: url('../img/palmy@2x.png');
  min-height: 240px;
}

.card--bike {
  background-image: url('../img/nakole@2x.png');
}

.card--lake {
  background-image: url('../img/jezero@2x.png');
}

.card--canyon {
  background-image: url('../img/podkova@2x.png');
}

.card--canary {
  background-image: url('../img/zatoka@2x.png');
}

.card__price {
  background-color: $primary;
  padding: 10px;
  font-family: $font-head;
  font-size: 18px;
}

.card__headline {
  font-size: 28px;
  padding-bottom: 16px;
  font-weight: 600;
}

.card__headline-small {
  font-size: 20px;
  font-weight: 600;
}

.about {
  background-color: $ternary-light;
  display: flex;
  gap: 30px;
  padding: 20px 30px;
}

.about__img {
  width: 30px;
  align-self: flex-start;
}

.about__date {
  color: $ternary-dark;
}

.about__headline {
  color: $primary;
  font-size: 18px;
  padding-bottom: 10px;
  font-family: $font-head;
  font-weight: 600;
}

.about--column {
  flex-direction: column;
  gap: 10px;
}

// tablet
@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    gap: 58px;
    justify-content: space-between;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card--big {
    min-height: 380px;
    flex-basis: 100%;
  }

  .cards--small {
    flex-basis: 100%;
    display: flex;
    & .card {
      flex: 1 1 42%;
    }
  }

  // about
  .about {
    flex-basis: 40%;
    flex-direction: column;
  }

  .about--center {
    text-align: center;
  }

  .about__image--center {
    align-self: center;
  }

  .cards--column {
    flex-direction: column;
  }
}

// desktop
@media screen and (min-width: 960px) {
  body {
    padding-left: 120px;
    padding-right: 120px;
  }

  .cards {
    flex-direction: row;
  }

  .cards--reverse {
    flex-direction: row-reverse;
  }

  .card--big {
    flex: 1 1 60%;
  }

  .cards--small {
    flex: 1 1 33%;
    display: flex;
    gap: 20px;
  }

  .cards--small .card {
    flex: 1 1 100%;
  }

  .about {
    flex: 1 1 15%;
  }
}

// footer
.footer__text {
  color: #fff;
}

.footer {
  padding: 20px 0;
  text-align: center;
  background-color: #444444;
}
